body,html{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background:#c4afc2;
}
.bubbels{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}
.bubble{
  position: absolute;
  bottom: -100px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;
  animation: flying 9s infinite ease-in;
}
.bubble:nth-child(1){
  width: 40px;
  height: 40px;
  right: 50%;
  animation-duration: 7s;
}
.bubble:nth-child(2){
  width: 20px;
  height: 20px;
  right: 65%;
  animation-duration: 9s;
  animation-delay: 0.5s;
}
.bubble:nth-child(3){
  width: 50px;
  height: 50px;
  right: 65%;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubble:nth-child(4){
  width: 80px;
  height: 80px;
  right: 30%;
  animation-duration: 7s;
  animation-delay: 0s;
}

.bubble:nth-child(5){
  width: 35px;
  height: 35px;
  right: 45%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6){
  width: 45px;
  height: 45px;
  right: 66%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7){
  width: 25px;
  height: 25px;
  right: 45%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(8){
  width: 80px;
  height: 80px;
  right: 70%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.bubble:nth-child(9){
  width: 15px;
  height: 15px;
  right: 90%;
  animation-duration: 9s;
  animation-delay: 0s;
}

.bubble:nth-child(10){
  width: 50px;
  height: 50px;
  right: 65%;
  animation-duration: 5s;
  animation-delay: 3s;

}

@keyframes flying {
  0%{
    bottom: -100px;
    transform: translateX(0);
  }
  50%{
    transform: translateX(280px);
  }
  100%{
    bottom: 1080px;
    transform: translateX(-220px);
  }
}


body{
	margin:0;
	padding:0;
	background: url();
	background-size: right;
	background-position: absolute;
	padding: 100px , 70 px;
    background-color: #857783;

}

.loginbox{
	width:320px ;
	height: 380px;
	background: #6e646c;
	color: #fff;
	top:50%;
	left:12%;
	position:absolute;
	transform: translate(-40%,-50%);
	box-sizing: border-box;

}
.login{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position:absolute;
	top:-40px;
	left: calc (50% - 60px);
}
h1 {
	text-align: center;
	margin:0;
	padding:0,0,20px;
	font-size: 22px;

}
.loginbox p{
	margin:0;
	padding:0;
   font-weight:bold;
   
}
.loginbox input{
	width:70%;
	margin-bottom: 20px;


}

.loginbox input[type= "text"],input[type="password"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height: 40px;
	color:#fff;
	font-size: 16px;

}
.loginbox input[type ="submit"]
{
	border:none;
	height: 40px;
	outline:0;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input input[type="submit"]:hover
{
	cursor:pointer;
	background: #ffc107;
	color:#000;
}
.loginbox a{
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color:darkgrey;

}
.loginbox a:hover
{
	color:#ffc107;

}
p{
	text-align: 30px;
}
div{
	object-position: left;
}